<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic DateTime
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedMode" #item scrollable>
      <ion-segment-button [value]="mode" *ngFor="let mode of modes">
        <ion-label>{{mode}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item (click)="showPicker = !showPicker">
    <ion-label>Date</ion-label>
    <ion-text slot="end">
      {{ formattedString }}
    </ion-text>
  </ion-item>
  <ion-datetime #datetime size="cover" *ngIf="showPicker" [value]="dateValue" showDefaultButtons="true"
    (ionChange)="dateChanged(datetime.value)" (ionCancel)="showPicker = false">
  </ion-datetime> -->

  <ion-item id="open-modal">
    <ion-icon slot="start" color="primary" name="calendar-outline"></ion-icon>
    <ion-label>Pick date</ion-label>
    <ion-text slot="end">{{formattedString}}
    </ion-text>
  </ion-item>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-datetime #datetime size="cover" [value]="dateValue" showDefaultButtons="true"
          (ionChange)="dateChanged(datetime.value)" (ionCancel)="showPicker = false">
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>