<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic DateTime
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedMode" #item
      (ngModelChange)="onChange($event)" scrollable>
      <ion-segment-button *ngFor="let mode of modes">
        <ion-label>{{mode}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime [presentation]="selectedMode"></ion-datetime>

</ion-content>